[project]
name = "demo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "futureagi>=0.6.9",
    "google-generativeai>=0.8.6",
    "python-dotenv>=1.2.1",
]
